body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.card {
    background-color: #e6ffe6 !important; /* Light green background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Add spacing between cards */
}

.add-expense input, .add-expense button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-expense button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.add-expense button:hover {
    background-color: #0056b3;
}

.summary, .category, .expense-history {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.mt-2 {
    margin-top: 20px;
}


.search-bar {
    width: 400px;
}


.section-card {
    background-color: #e6ffe6 !important; /* Light green background */
    margin-bottom: 20px; /* Space between cards */
    padding: 15px; /* Padding inside the card */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
